body {
    background: #000;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
}

.container {
    margin: 0px 90px;
}

header a {
    color: #fff;
    text-decoration: none;
}

header a:hover {
    color: rgb(207, 181, 181);
    text-decoration: underline;
    transition: all .4s linear;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr {
    color: white;
}

.h1 {
    margin: 3px 0px;
    text-align: center;
    font-size: 60px;
    color: rgb(238,95,248);
    font-weight: 800;
}

.h2 {
    margin: 3px 0px;
    text-align: center;
    font-size: 36px;
    color: rgb(176, 124, 232);
    font-weight: 700;
}

.pink {
    color: rgb(255, 255, 255);
}

.jr {
    color: rgb(255, 255, 255);
}
.center {
    text-align: center;
}

#intro {
    height: 100%;
    min-height: 1250px;
}

.ww {
    margin-bottom: 40px;
}
.telegram-button {
    position: fixed;
    right: 13px;
    bottom: 90px;
    transform: translate(-50%, -50%);
    background: #0088cc; /*цвет кнопки*/
    border-radius: 50%;
    width: 55px; /*ширина кнопки*/
    height: 55px; /*высота кнопки*/
    color: #fff;
    text-align: center;
    line-height: 53px; /*центровка иконки в кнопке*/
    font-size: 35px; /*размер иконки*/
    z-index: 9999;
}
.telegram-button a {
    color: #fff;
}
.telegram-button:before,
.telegram-button:after {
    content: " ";
    display: block;
    position: absolute;
    border: 50%;
    border: 1px solid #0088cc; /*цвет анимированных волн от кнопки*/
    left: -20px;
    right: -20px;
    top: -20px;
    bottom: -20px;
    border-radius: 50%;
    animation: animate 1.5s linear infinite;
    opacity: 0;
    backface-visibility: hidden; 
}
 
.telegram-button:after{
    animation-delay: .5s;
}
 
@keyframes animate
{
    0%
    {
        transform: scale(0.5);
        opacity: 0;
    }
    50%
    {
        opacity: 1;
    }
    100%
    {
        transform: scale(1.2);
        opacity: 0;
    }
}

@media screen and (min-width: 622px) {
    .jr {
      content: "6ㅤ01ㅤ23";
    }
    #intro {
        height: 100%;
    }
    .container {
        text-align: center;
    }
  }